.firstContainer{
    padding-top:30px;
    height: 713px;
    top: 177px;
    left: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.secondContainer{
    height: 160px;
    top: 754px;
    padding: 64px 165px 64px 165px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.thridContainer{
    height: 443px;
    top: 1178px;
    left: 166px;
    display: flex;
    align-items: center;
    position: absolute;
}

.fourthContainer{
    position: absolute;
    display: flex;
    align-items: center;
    height: 696.68px;
    top: 1730px;
    gap: 92px;
    z-index: 0;
}

.fiveContainer{
    height: 608px;
    top: 2595px;
    left: 168px;
    padding: 128px 64px 128px 64px;
    gap: 64px;
    border-radius: 32px;
    position: absolute;
    background: #FACD4914;
}

.arrows{
    width: 65px;
    height: 169.95px;
    top: 834.7px;
    left: 80px;
    gap: 0px;
    position: absolute;
    /*angle: -180 deg;*/
}

.discountDiv{
    width: 300px;
    height: 72px;
    top: 1861px;
    left: 486px;
    padding: 16px 32px 16px 32px;
    gap: 16px;
    border-radius: 100px;
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    box-shadow: 0px 20px 20px 0px #00000017;
}

.discTxt{
    width: 180px;
    height: 28px;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: #191825;
}

.triangle{
    width: 183.86px;
    height: 176.35px;
    top: 2536px;
    left: 125px;
    position: absolute;
}

.feedback{
    width: 50px;
    height: 50px;
    top: 1950px;
    left: 1300px;
    padding: 32px;
    gap: 16px;
    border-radius: 100px;
    background: #FACD49;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0px 20px 20px 0px #00000017;
}

.feedback .feedbackCricle{
    width: 48px;
    height: 48px;
}

.sprialDesign{
    width: 332px;
    height: 351.95px;
    top: 3028.46px;
    left: 1329px;
    position: absolute;
}

.ellipseTop{
    width: 500px;
    height: 500px;
    top: -223px;
    left: -356px;
    position: absolute;
    background: #FF5722;
    filter: blur(200px);
}

.ellipseMiddle{
    width: 500px;
    height: 500px;
    top: 847px;
    left: 1351px;
    gap: 0px;
    opacity: 5px;
    background: #f1dea5;
    filter: blur(80px);
    position: absolute;
    z-index: 1;
}